.bean-blob {
    position: absolute;
    opacity: 0.02;
    max-width: 60%;
}

.bean-blob2 {
    position: absolute;
    opacity: 0.02;
    max-width: 50%;
    right: 0rem;
    top: 80rem;
}

.blob-path4-0 {
    position: absolute;
    opacity: 0.02;
    max-width: 30%;
    right: 0rem;
    top: -4rem;
}

.blob-path4-1 {
    position: absolute;
    opacity: 0.02;
    max-width: 30%;
    top: -4rem;
}

.blob-path5 {
    position: absolute;
    opacity: 0.02;
    max-width: 40%;
    top: 90rem;
    left: -5rem;
}

.waves {
    position: absolute;
    opacity: 0.02;
    max-width: 50%;
    top: 130rem;
}

.triangle {
    position: absolute;
    opacity: 0.02;
    max-width: 30%;
    bottom: 50rem;
    right: 13rem;
}