.card-image-deals {
  height: 283px;
  background-color: white;
  display: flex;
  align-items: center;
}

.font-large {
  font-size: large;
}

.card-deals {
  height: 517px;

  h4 {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
  }
}

.card-deals-loading {
  height: 517px;
  animation-duration: 1.25s;
  animation-fill-mode: forwards;
  animation-iteration-count: infinite;
  animation-name: placeHolderShimmer;
  animation-timing-function: linear;
  background: #f6f6f6;
  background: linear-gradient(to right, #353862 8%, #4b4e73 40%, #353862 33%);
  background-size: 800px 104px;
}

@keyframes placeHolderShimmer {
  0% {
    background-position: -468px 0;
  }
  100% {
    background-position: 468px 0;
  }
}

.card-image-deals-loading {
  background: #353862;
  background-size: 800px 104px;
  height: 283px;
  position: relative;
}

.card-title-deals-loading {
  background: #353862;
  background-size: 800px 104px;
  height: 40px;
  position: relative;
}

.card-price-deals-loading {
  background: #353862;
  background-size: 800px 104px;
  height: 20px;
  margin-bottom: 15px;
  position: relative;
}

.card-item-loading {
  height: 740px;
  animation-duration: 1.25s;
  animation-fill-mode: forwards;
  animation-iteration-count: infinite;
  animation-name: placeHolderShimmer;
  animation-timing-function: linear;
  background: #f6f6f6;
  background: linear-gradient(to right, #353862 8%, #4b4e73 40%, #353862 33%);
  background-size: 800px 104px;
}

.card-price-deals-table-loading {
  background: #353862;
  background-size: 800px 104px;
  height: 320px;
  margin-bottom: 15px;
  position: relative;
}

.vh-100 {
  height: 100vh;
}

.v-center {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.filter-chip {
  background: #fd5d93;
  background-image: linear-gradient(to bottom left, #fd5d93, #ec250d, #fd5d93);
  background-size: 210% 210%;
  background-position: top right;
  background-color: #fd5d93;
  font-family: "Poppins", sans-serif !important;
  color: #ffffff !important;

  .MuiChip-deleteIcon {
    color: #ffffff !important;
  }
}

.chip-div {
  @media (max-width: 576px) {
    display: inline-block;
  }
}
.chip-col {
  @media (max-width: 576px) {
    overflow-x: auto;
    white-space: nowrap;
  }
}

.dropdown-menu {
  width: inherit;
  transform: translate3d(0px, 52px, 0px) !important;
}

.dropdown-item {
  white-space: pre-line;
}

.dropdown-content {
  width: 10rem;
}

.dropdown-toggle {
  width: inherit;
}

@media (max-width: 1200px) {
  h4 {
    font-size: 0.9rem;
  }
}

@media (max-width: 980px) {
  h4 {
    font-size: 1rem;
  }
}

@media (max-width: 576px) {
  h4 {
    font-size: 1.15rem;
  }
}
