.card-image-deals {
  height: 283px;
  background-color: white;
  display: flex;
  align-items: center;
}

.font-large {
  font-size: large;
}

.card-deals {
  height: 517px;
}

.vh-100 {
  height: 100vh;
}

.v-center {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.filter-chip {
  background: #fd5d93;
  background-image: linear-gradient(to bottom left, #fd5d93, #ec250d, #fd5d93);
  background-size: 210% 210%;
  background-position: top right;
  background-color: #fd5d93;
  font-family: "Poppins", sans-serif !important;
  color: #ffffff !important;

  .MuiChip-deleteIcon {
    color: #ffffff !important;
  }
}

.dropdown-menu {
  width: inherit;
  transform: translate3d(0px, 52px, 0px) !important;
}

.dropdown-item {
  white-space: pre-line;
}

.dropdown-content {
  width: 10rem;
}

.dropdown-toggle {
  width: inherit;
}

@media (max-width: 1200px) {
  h4 {
    font-size: 0.9rem;
  }
}

@media (max-width: 980px) {
  h4 {
    font-size: 1.0rem;
  }
}

@media (max-width: 576px) {
  h4 {
    font-size: 1.15rem;
  }
}