.card-image-item {
  max-height: 700px;
  background-color: white;
  display: flex;
  align-items: center;
}

.items-page {
  overflow: hidden;
  top: 96px;
}

@media (max-height: 750px) {
  .small-font {
    font-size: small;
  }

  .card-sm-w {
    width: 345px;
  }
}

@media (max-height: 700px) {
  .small-font {
    font-size: small;
  }

  .card-sm-w {
    width: 345px;
  }
}

@media (max-width: 576px) {
  .small-font {
    font-size: small;
  }

  .card-sm-w {
    width: 345px;
  }

  .table-sm-h {
    height: 20rem;
  }

  .item-table {
    thead th{
      position: sticky;
      top: 0;
      background: #1f2251;
      z-index: 2;
    }
    
    tbody td a {
      z-index: 1 !important;
    }
  }
}

@media (max-width: 1024px) {
  .items-page {
    overflow: hidden;
    top: 74px;
  }
}